---
import { portfolioCardsData } from "@services/getPortfolioCards";
import Title from "@src/components/atoms/Title/Title";
import CardPortfolio from "@molecules/CardPortfolio/CardPortfolio.astro";
import PortfolioModal from "./portfolioModal/PortfolioModal.astro";

const mainData = await portfolioCardsData();

const { cardsLength = 6 } = Astro.props;

---

<section class="portfolio" id="portfolio">

  <Title titleDesc="Portfolio" clase="title-dark portfolio__title" />
  <div class="card__section">
    {
      mainData
        .slice(0, cardsLength)
        .map((data) =>
        <CardPortfolio {...data} />
      )
    }
  </div>
    `{
          mainData.length > 3 && (
          <a class="portfolio__projects-btn" href="/projects">Ver todos</a>
        )
    }`
  <PortfolioModal  />
</section>

<script >
import "@controllers/portfolioModal.controller.js";
</script>
